{% extends 'adminbase.html.twig' %}

{% block title %}Emlak{% endblock %}

{% block body %}
    <div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="{{ path('admin_emlak_index') }}">Emlak</a> <a href="#" class="current">İlan</a> </div>
  </div>
<!--End-breadcrumbs-->
<!--Chart-box-->    
    <div class="row-fluid">

        <div class="widget-title bg_lg"><span class="icon"><i class="icon-align-justify"></i></span>
          <h5>İlan </h5> 

        </div>
           
      </div>
 
    <div class="widget-content nopadding">
    <table class="table table-bordered table-striped">
           <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emlak.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ emlak.title }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ emlak.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ emlak.description }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ emlak.age }}</td>
            </tr>
            <tr>
                <th>Large</th>
                <td>{{ emlak.large }}</td>
            </tr>

            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/' ~ emlak.image)  }}" style="height:100px; "></td>
            </tr>
            <tr>
                <th>Star</th>
                <td>{{ emlak.star }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ emlak.address }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ emlak.phone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ emlak.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ emlak.email }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ emlak.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ emlak.country }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ emlak.location }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ emlak.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ emlak.status }}</td>
            </tr>
           <tr>
               <th>Detail</th>
               <td>{{ emlak.detail }}</td>
           </tr>
           
        </tbody>
    </table>
</div>

</div>
{% endblock %}

